html,
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
#\#wrapper {
  margin: 10px auto 0 auto;
  width: 80%;
}
header {
  width: 100%;
  background-color: grey;
}
.header {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
hgroup,
figure {
  margin: 0;
  height: 140px;
  text-align: center;
}
hgroup h1,
h2 {
  margin: 0;
}

#about,
#competencies,
#experiences,
#hobbies,
#education {
  width: 50%;
}

#contact {
  position: absolute;
  top: 20px;
  right: 0;
  width: 40%;
}
.contact {
  display: flex;
  flex-direction: row;
  margin: 0;
}
#contact h3 {
  display: none;
}
.contact-type {
  background-color: red;
  width: 22%;
  color: white;
}
.contact-value {
  background-color: black;
  margin: 0;
  width: 50%;
}
.contact-value a {
  text-decoration-style: none;
  text-decoration-color: black;
  text-decoration-line: none;
  color: red;
}
section h3 {
  border-bottom: 1px solid grey;
}
h3::before {
  content: "";
  height: 12px;
  width: 12px;
  background-color: red;
  border-radius: 50%;
  display: inline-flex;
}

.experience-institution,
.day {
  color: red;
}
.experience-type {
  color: blue;
}
.experience-location {
  color: pink;
}
.experience-date {
  color: orange;
}
.month {
  color: green;
}
.year {
  color: black;
}
p {
  text-align: left;
  word-break: break-all;
  width: 90%;
  margin: 1px auto;
}
.skill {
  width: 100%;
  border: 1px solid white;
  padding: auto 0 auto 0;
}
.skill[data-skill="9"] ::after {
  content: "";
  height: 13px;
  width: 90%;
  background-color: red;
  display: inline-block;
}
.skill {
  background-color: grey;
}
.skill[data-skill="9"] ::after {
  content: "";
  height: 13px;
  width: 90%;
  background-color: red;
  display: inline-block;
}
.skill[data-skill="5"] ::after {
  content: "";
  height: 13px;
  width: 50%;
  background-color: red;
  display: inline-block;
}
.skill[data-skill="7"] ::after {
  content: "";
  height: 13px;
  width: 70%;
  background-color: red;
  display: inline-block;
}
.skill[data-skill="3"] ::after {
  content: "";
  height: 13px;
  width: 30%;
  background-color: red;
  display: inline-block;
}
.skill[data-skill="1"] ::after {
  content: "";
  height: 13px;
  width: 10%;
  background-color: red;
  display: inline-block;
}
