.content {
  display: flex;
  border-top: 1px solid black;
}
#about {
  width: 50%;
  border-right: 1px solid black;
  text-align: center;
}
#competencies {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
}
.header {
  display: flex;
}
hgroup {
  width: 50%;
  margin: auto;
}
figure {
  width: 50%;
  margin: auto;
}
.skills-primary .skill .skills-secondary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
